@charset "utf-8";
/* CSS Document */

/* 
 * Copyright 2014 Li Guofeng
 * Email: lgf811@gmail.com
 */

/* reset */
html { height: 100%; background: #ffffff; -webkit-text-size-adjust: none; -webkit-font-smoothing: antialiased }
body { min-height: 100% }
body { _height: 100% }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, input, select, textarea, button, p, blockquote, th, td, figure { margin: 0; padding: 0 }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, p, blockquote, figure, header, footer, nav, article, section, aside, address, figcaption { *zoom: 1 }
li { list-style-type: none }
h1, h2, h3, h4, h5, h6 { font-size: 100% }
iframe, frame, fieldset, img { border: 0 none }
img { vertical-align: top }
input[type=button], input[type=submit], input[type=reset] { cursor: pointer }
button { cursor: pointer }
input, textarea, button, select { -webkit-border-radius: 0; -webkit-appearance: none }
input[type=radio] { -webkit-border-radius: 100%; -webkit-appearance: radio }
input[type=checkbox] { -webkit-appearance: checkbox }
input[type=search] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box }
input[type=password] { font-family: Arial }
textarea { overflow: auto; resize: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none }
table { border-collapse: collapse; border-spacing: 0 }
caption, th { text-align: left }
th { font-weight: normal }
em, cite, address, i { font-style: normal }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
body, input, select, button, textarea { color: #000000; font-size: 1rem; font-family: Arial }
body { line-height: 1 }
a { color: #000000; text-decoration: none }
a { blr: expression(this.onFocus=this.blur()) }
a * { *cursor: pointer }
/* a:hover { color: #ff142a } */
:focus { outline: none }

.fixed:before, .clearfix:before, .cf:before, body:before, .header:before, .main:before, .footer:before { content: ''; display: table }
.fixed:after, .clearfix:after, .cf:after, body:after, .header:after, .main:after, .footer:after { content: ''; display: table; clear: both }
.fixed, .clearfix, .cf, .header, .main, .footer { *zoom: 1 }

.clear, .cl { display: block !important; float: none !important; clear: both; width: auto !important; max-width: none !important; min-width: 0 !important; max-height: none !important; min-height: 0 !important; overflow: hidden; margin: 0 !important; padding: 0 !important; border: 0 none !important; font-size: 0 !important; line-height: 0 !important }


video { background: #000000 }
.hide { display: none }